In [ ]:
from mod import A_add_member as add
from mod import B_purchase as pr
from mod import C_consume as cs
from mod import D_main_table as mt
from mod import O_general as gr
from mod.O_config import MEMBER_SHEET
from mod.O_general import CancelOperation, InputError, check_cancel

In [ ]:
def main():
    while True:
        try:
            option = input("請選擇功能：A.新增會員/B.購買課程/C.上課/D.更新主表")
            check_cancel(check=option)

            if option == "A":
                add.A_add_new_member()

            elif option == "B":
                pr.B_buy_course_plan()

            elif option == "C":
                cs.C_consume_course()

            elif option == "D":
                mt.D_update_main_data()
                print("已更新主表！")

            else:
                print("輸入錯誤，請重新輸入")

        except CancelOperation as e:
            print(f"{e}")
            break

        except InputError as e:
            print(f"")
            break

In [1]:
from mod import D_main_table as mt
from mod import O_general as gr
from mod.O_config import EVENT_SHEET, MEMBER_SHEET
from datetime import datetime
import pandas as pd

In [ ]:
def get_birthday_member():
    df_event = gr.GET_DF_FROM_DB(sheet=EVENT_SHEET)
    df_member = gr.GET_DF_FROM_DB(sheet=MEMBER_SHEET)
    df_member["生日"] = pd.to_datetime(df_member["生日"])

    month = datetime.now().month
    mask = (df_member["生日"].dt.month == month)
    df_birthday = df_member[mask]

    df_main = mt.get_df_main(df_event=df_event, df_member=df_member)

    df_birthday = df_birthday.merge(df_main, how="inner", on=[
                                    "會員編號", "會員姓名", "生日", "電話"])
    new_cols = ['會員編號', '會員姓名', '生日', '電話', '教練', '方案',
                '剩餘堂數', '平均單堂金額', '剩餘預收款項', '最近交易日期', '加入日期', '加入時間']

    df_birthday = df_birthday[new_cols]

    return df_birthday

In [16]:
df_birthday

,會員編號,會員姓名,生日,電話,教練,方案,剩餘堂數,平均單堂金額,剩餘預收款項,最近交易日期,加入日期,加入時間
0,1998,TestUser,2025-12-15,0912345678,100,特殊課程,123,1008.07,123992.93,2025-12-15,2025-12-15,16:35:00

In [9]:
df_main

,會員編號,會員姓名,生日,電話,方案,剩餘堂數,平均單堂金額,剩餘預收款項,最近交易日期
0,120,王小明,1978-02-16,0966222333,一對一,0,0.00,0.00,2025-12-16
1,1998,TestUser,2025-12-15,0912345678,特殊課程,123,1008.07,123992.93,2025-12-15
2,1999,TestBrowserUser,2000-01-01,0912345678,一對一,1,2600.00,2600.00,2025-12-15
3,321,林小美,1986-02-17,0956333222,一對二,11,3123.08,34353.84,2025-12-14